/* General reset for margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 30px;
}

.location-dropdown, .search-bar {
  background-color: white;
  border: 1px solid rgba(227, 227, 227, 1.00);
  border-radius: 7px;
  padding-left: 1px !important; /* Ensure reduced padding */
  padding-right: 5px !important; /* Ensure reduced padding */
  
}


.location-dropdown .form-control,
.search-bar .form-control {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.location-dropdown .input-group-text,
.search-bar .input-group-text {
  padding: 0 5px !important;
  margin: 0 !important;
  background-color: transparent;
  border: none;
}

.search-bar {
  max-width: 300px;
  margin-left: -5px;
}

.location-dropdown {
  margin-left: 200px;
  max-width: 210px;
}

.navbar .nav-link {
  margin-left: 20px;
  color: #000;
}

.navbar .nav-link:hover {
  color: #000;
}

.navbar .input-group-text {
  background-color: white;
  border: none;
}








/* Location Overlay Styles */
/* Full-screen overlay */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;/* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}

/* Centered card within overlay */
.overlay-card {
  max-width: 400px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin-right: 370px;
}


.location-card {
  margin-left: 420px;
  margin-top: 70px;
  width: 470px;
  max-width: 90%;
  background-color: white;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid rgba(227, 227, 227, 1);
  border-radius: 7px;
  padding: 0.6em;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  padding-left: 5px !important;
  font-size: 1rem;
}

.input-group .icon {
  margin-right: 10px;
  color: #6c63ff;
}

.text-primary {
  color: #6c63ff;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.text-muted {
  color: #888;
  text-align: center;
  font-size: 0.85rem;
}

.dropdown-card {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(227, 227, 227, 1.00);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-card h5 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.dropdown-card .badge {
  cursor: pointer;
  border: 1px solid rgba(227, 227, 227, 1.00);
  padding: 10px;
  background-color: white;
}

.dropdown-card .badge:hover {
  background-color: rgba(227, 227, 227, 0.3);
}






/*home page*/


.homepage {
  padding: 20px;
}

.homepage h1 {
  margin-top: 20px;
  font-size: 34px;
  line-height: 70%;
}

.services-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 500px;
  height: 370px;
  margin-top: 40px;
}
.services-section
h2{
  font-size: 18px;
  padding: 10px;
  color: rgba(84, 84, 84, 1.00);
  font-weight: bold;
}



.services-grid {
  display: flex;
  flex-direction: column;
}

.service-row {
  display: flex;
  gap: 1px;
  margin-bottom: 10px;
}

.service-card {
  text-align: center;
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-wrapper {
  width: 140px; 
  height: 75px; 
  background-color: #f5f5f5; /* Light background color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px; 
  overflow: hidden;
  padding: 10px; /* padding to the image */
}

.image-wrapper img {
  width: 60px; 
  height: 60px; 
  object-fit: contain; 
}

.service-description {
  margin-top: 8px;
  font-size: 12px;
  color: #333;
  text-align: center;
 
}

.stats-section {
 margin-top: -1410px;
  display: flex;
  gap: 140px;
  align-items: center; 
}

.stats-section
img{
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-top: 620px;
  
 
}


.stat-value {
  position: relative;
  top: 315px;
  left: -10px;
  font-size: 24px; /* Example styling */
  
  color: #333; /* Example color */
}





.image-sec img {
  width: 600px;
  height: auto;
  object-fit: cover;
  margin-left: 580px;
  margin-top: -620px;
}



/*cart field*/
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cart-icon {
  width: 210px; /* Adjust size as needed */
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

p {
  margin-top: -10px;
  font-size: 14.5px;
  color: #666;
}

.explore-button {
  
  margin-top: -5px;
  padding: 7px 10px;
  background-color: white; /* Adjust color as needed */
  color: rgb(110, 66, 229);
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.explore-button:hover {
  background-color: #bfbfc0; /* Slightly darker shade on hover */
}


/*bookings*/
.bookings-container {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.bookings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-left: 400px;
  
}

.help-button {
  margin-right: 400px;
  background:white;
  color: rgb(110, 66, 229);
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 14.5px;
}

.bookings-content {
  margin-top: 1rem;
  
}

h3 {
  font-size: 18px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  
}

p {
  color: #666;
  margin-bottom: 1.5rem;
}

.explore-link {
  color: rgb(110, 66, 229); /* Customize color as per your theme */
  text-decoration: none;
 
}


/*salon css*/
.salon-container-updated {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-height: auto;
  overflow: hidden; /* Prevent overflow */
  z-index: 0; /* Lower z-index to ensure it doesn't cover interactive elements */
}


.salon-header-updated {
  display: flex;
  align-items: center;
  gap: 10px;
}

.salon-header-updated h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1px;
  
}

.rating-updated {
  display: flex;
  align-items: center;
}
.review{
 margin-top: 80px; 
}
.rating-badge-updated {
  background-color: #266929;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 80px;
  
  margin-left: -265px;
}




.services-section-updated {
  position: sticky;
  top: 0;
  z-index: 1;
}



.services-section-updated h3 {
  font-size: 12px;
  margin-top: 30px;
  color: rgb(117, 117, 117);
  
  
}

.services-grid-updated {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  width: 170px;
  height: 200px;  
}
.services-grid-updated{
  
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  width: 340px;
  height: 470px;
  padding: 20px;
 
}


.service-item-updated {
  text-align: center;
  color: black;
  text-decoration: none;
 
  
}

.service-image-updated {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: -1px;
}
.salonpara{
  font-size: 12px;
  color: black;
  margin-top: 2px;
}

.banner-section-updated {
  margin-top: 5px;
}



.banner-label-updated {
  background-color: #606060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 300px;
}

.banner-updated h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.banner-updated p {
  margin: 10px 0;
}

.banner-image-updated {
  width: 850px;
  margin-top: -650px;
  border-radius: 5px;
  margin-left: 370px;
}
 



















/*api in salon*/
.abox {
  padding: 20px;

}

.package-container h2 {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: bold;
  margin-left: 2px;
}

.package-card {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 16px;
  
}

.package-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.package-header h3 {
  font-size: 15px;
  font-weight: bold;
}

.rating-section {
  display: flex;
  align-items: center;
}

.rating {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}

.reviews {
  font-size: 12px;
  color: #757575;
  margin-left: 4px;
}

.package-details .price {
  font-size: 16px;
  margin: 8px 0;
}

.current-price {
  font-weight: bold;
  color: #ff5722;
}

.original-price {
  text-decoration: line-through;
  color: #9e9e9e;
  margin-left: 8px;
}

.time {
  font-size: 14px;
  color: #616161;
}

.features {
  margin: 12px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.features li {
  margin-bottom: 8px;
}

.edit-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: black;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.edit-button:hover {
  background-color: rgb(222, 221, 221);
}


.quantity-control {
  display: flex;
  align-items: center;
  margin: 16px 0;
  position: relative;
  z-index: 10;
}

.decrement-button,
.increment-button {
  width: 32px;
  height: 32px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  margin: 0 12px;
  font-size: 16px;
  font-weight: bold;
}

.decrement-button:hover,
.increment-button:hover {
  background-color: #e0e0e0;
}





.abox{
 
  width: 500px;
  margin-left: 370px;
  margin-top: -20px;
  
}




/*nest salon sectiom*/
.cart-info-container {
  padding: 20px;
  margin-left: 850px;
  position: absolute;
  top: 700px;
  
}

.cart-empty-section {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 7px;
  height: 150px;
}

.cart-image {
  width: 160px;
  height: auto;
}

.cart-text {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.offer-section {
  border: 1px solid rgb(222, 221, 221);
  border-radius: 7px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.offer-icon {
  margin-right: 10px;
  
}

.plus-icon {
  width: 60px;
  height: auto;
  margin-left: 20px;
}

.offer-details {
  flex-grow: 1;
  
}

.offer-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.offer-subtitle {
  font-size: 14px;
  color: #888;
}

.view-more {
  color: #007bff;
  margin-top: 120px;
  cursor: pointer;
 
  font-size: 14px;
}

.promise-section {
  text-align: center;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 7px;
  width: 320px;
  height: 170px;
}

.promise-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 27px;
  margin-right: 150px;
  
}

.promise-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 30px;
}

.promise-list li {
  margin-bottom: 10px;
  float: left;
}

.quality-assured-icon {
  width: 60px;
  height: auto;
}


/* Cart Full Section */
.cart-full-section {

  border-radius: 7px;
  padding: 20px;
  border: 1px solid rgb(225, 223, 223);
  text-align: left;
  width: 320px;
  margin: auto;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.cart-full-section h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.cart-item {
  margin-bottom: 20px;
}

.cart-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-header span {
  font-size: 15px;
  font-weight: bold;
}

.cart-item-price {
  text-align: right;
}

.current-price {
  color: #333;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.cart-item-details {
  margin-top: 10px;
}

.cart-item-details ul {
  list-style-type: disc;
  padding: 0;
}

.cart-item-details li {
  font-size: 14px;
  color: #555;
}

.edit-button {
  color: black;
  background: none;
  border: 1px solid rgb(220, 219, 219);
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}



.cart-savings {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.view-cart-button {
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.view-cart-button:hover {
  background-color: #574b90;
}



















/*viewcart page*/
.booking-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 660px;
  background-color: #fff;
  margin-left: 128px;
  margin-top: 110px;
}

.booking-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  
}

.booking-item:last-child {
  border-bottom: none;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}
.icon-image{
  height: 10px;
  width: 10px;
}
.details {
  flex-grow: 1;
  
  
}

.details span {
  display: block;
  flex-grow: 1; 
}

.select-button {
  background-color: #5a20cb;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 350px;
  
  
}

.select-button:hover {
  background-color:white;
  color: black;
  border: 1px solid  #5a20cb;
}
.slot-button {
  background-color: #5a20cb;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 440px;
  
  
}

.slot-button:hover {
  background-color: white;
  color: black;
  border: 1px solid  #5a20cb;
}







.cancellation-policy {
  margin-top: 30px;
}

.cancellation-policy h3 {
  margin-bottom: 10px;
}

.cancellation-policy p {
  margin-bottom: 10px;
}

.read-policy {
  color: #5a20cb;
  text-decoration: none;
}

.read-policy:hover {
  text-decoration: underline;
}
.icon-image{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

/*slot*/


.modal-overlay {
  position: fixed;
  margin-top: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.date-selection button, .time-selection button {
  margin: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  
}

.selected {
  background-color: #5a20cb;
  color: white;
  border: 1px solid purple;
  border-radius: 5px;
}

button:disabled {
  background-color: white;
  cursor: not-allowed;
}

/*slot*/


.confirm-button {
  background-color: #5a20cb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.confirm-button:disabled {
  background-color: rgb(190, 189, 189);
  cursor: not-allowed;
}

.cancel-button {
  background-color: #ee5c5c;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.cancel-button:hover {
  background-color: #ff1a1a;
}


/* login reg */

.auth-button {
  height: 42px;
  width: 110px;
  margin-top: 5px;
  background-color: #5a20cb;
  border: 1px solid#5a20cb;
  border-radius: 5px;
  color: white;
  margin-left: 113px;
  font-size: 14px; /* Adjust for readability */
}

.auth-button:hover {
  background-color: white;
  color: black;
}

/* pop up for login */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 15px;
}

.phone-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.verify-button, 
.cancel-button-new {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.verify-button {
  background:#5a20cb;
  color: white;
}

.verify-button:hover {
  background: white;
  border: 1px solid #5a20cb;
}

.cancel-button {
  background: #ccc;
  color: black;
}

.cancel-button:hover {
  background: #999;
}
/*signup button*/
.signup-button{
background-color: #5a20cb;
color: white;
border: none;
border-radius: 5px;
height: 50px;
}




/*proceed button*/

.proceed-button {
  background-color: #5a20cb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
  
  
}

.proceed-button:hover {
  background-color: #0056b3;
}



/*proceed button content*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

h2 {
  margin-bottom: 30px;
}

p {
  color: #555;
  margin-bottom: 20px;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

h2 {
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background:#5a20cb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.login-button:hover {
  background: #0056b3;
}

.signup-text {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.signup-link {
  color:#5a20cb;
  cursor: pointer;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}



/* confirm.jsx */
.confirm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.confirm-card {
  max-width: 700px;
  width: 100%;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  text-align: center;
}

.confirm-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}

.confirm-list {
  font-size: 1.1rem;
  list-style: none;
  padding: 0;
  color: #555;
}

.confirm-edit {
  color:#5a20cb;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.1rem;
}

.confirm-counter-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.confirm-counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.confirm-button {
  background-color: #cbd1de;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.confirm-buttonn {
  background-color: #cbd1de;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-left: 12px;
}
.incri-buttonn {
  background-color: #cbd1de;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin-left: 12px;
}
.confirm-value {
  font-size: 1.125rem;
  font-weight: 600;
}

.confirm-price {
  font-size: 1.125rem;
  font-weight: 700;
  color: #333;
}

.confirm-original-price {
  text-decoration: line-through;
  color: #777;
  font-size: 0.875rem;
}

.confirm-payment {
  margin-top: 16px;
}

.confirm-label {
  display: block;
  font-weight: bold;
  color:  #333;;
}

.confirm-select {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.1rem;
}

.confirm-booking-btn {
  width: 100%;
  margin-top: 16px;
  background-color:#5a20cb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.confirm-booking-btn:hover {
  background-color: #1e40af;
}
.booking-status {
  margin-top: 10px;
  color: green; /* For success message */
  font-weight: bold;
}

.booking-status.error {
  color: red; /* For error message */
}
/* Pop-up Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of everything */
}

/* Pop-up Content */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Close Button */
.popup-close-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-close-btn:hover {
  background-color: #0056b3;
}











/* Overlay background */
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Popup box styling */
.popup-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
 
}

.popup-box h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.popup-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

/* Input fields for verification code */
.code-inputs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}

.code-inputs input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.code-inputs input:focus {
  border-color: #007bff;
}

/* Buttons */
.confirm-btn, .cancel-button-new {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
 
}

.confirm-btn {
  background:#5a20cb;
  color: white;
}

.confirm-btn:hover {
  background: #0056b3;
}

.cancel-button-new {
  background: #ccc;
  color: #333;
}

.cancel-button-new:hover {
  background: #999;
}











/*total-section*/

.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
 
}

.service-package, .booking-container {
  width: 40%;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 80px;
  border-radius: 7px;
  margin-top: 50px;
}




/* ViewCart specific styles */
.booking-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.select-button {
  background-color: #4c38cd;
  color: #fff;
  
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  width: 440px;
  margin-top: 15px;
  
}

.disabled {
  opacity: 0.5;
}

.cancellation-policy {
  margin-top: 20px;
}

.cancellation-policy h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.cancellation-policy p {
  font-size: 14px;
  color: #666;
}

/* ServicePackage specific styles */
.package-details h3 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #535252;
}

.package-details ul {
  padding-left: 20px;
  margin-bottom: 10px;
}

.package-details li {
  list-style-type: disc;
  font-size: 13px;
  color: #535252;
  margin-bottom: 10px;
}

.edit-package {
  margin-top: 20px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.price-quantity {
  display: flex;
  align-items: center;
}

.price-quantity button {
  
  width: 30px;
  height: 30px;
  margin: 0 5px;
 
}

.price {
  margin-left: auto;
  margin-top: -355px;
  font-size: 15px;
  margin-right: 20px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 5px;
}

.frequently-added h4 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.additional-items {
  display: flex;
}

.item {
  margin-top: 20px;
  width: 300px;
 height: 130px;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 7px;
  margin-left: 5px;
  
}

.item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-top: 30px;
  float: right;
  margin-right: 5px;
}

.item p {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 30px;
  margin-left: 10px;
}

.item button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  
}

.amount-to-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  margin-top: 70px;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
}

.view-breakup {
  color: #007bff;
  cursor: pointer;
}



















/*home page- 2nd sectiom*/
.carousel-section {
  margin: 20px 0;
  text-align: center;
  position: relative;
  top: 220px;
}

.carousel-slide {
  cursor: pointer;
  text-align: center;
}

.carousel-image {
  width: 95%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carousel-image:hover {
  transform: scale(1.05);
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.next-arrow {
  right: -20px;
}

.prev-arrow {
  left: -20px;
}





/* New CSS for Most Booked Services Section */
.most-booked {
  position: relative;
  
  margin-top: 230px;
  text-align: center;
  
}

.most-booked p {
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-right: 900px;
  color: #333;
}

.most-booked-card {
  cursor: pointer;
  text-align: center;
  padding: 10px;
}

.most-booked-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.most-booked-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}





.most-booked-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.most-booked-details {
  margin-top: 10px;
}

.most-booked-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
  color: #333;
}

.most-booked-details h3 {
  font-size: 0.9rem;
  margin: 10px 0 5px;
  color: #333;
  display: inline;
}

.most-booked-details .rating {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
 
}



.most-booked-details .price {
  font-size: 1rem;
  color: #333;
  
}






/*newly added 3 sections-first one*/
.carousel-wrapper {
  padding: 20px;
  border-radius: 8px;
  margin: 700px 0;
}

/* Header styling */
.carousel-heading  {
  font-size: 1.8rem;
  margin-bottom: 30px;
  margin-right: 900px;
  margin-left: 20px;
  color: #333;
}

/* Styling for the cards inside the carousel */
.beauty-card {
  text-align: center;
  padding-right: 20px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.beauty-card:hover {
  transform: scale(1.02);
  box-shadow: none;
  
}

/* Styling for the images inside the cards */
.beauty-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 280px;
  display: block;
  margin: 0;
  border: 1px solid rgb(211, 208, 208);
  
}

/* Service title styling */
.service-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

/* Custom arrow styling */
.arrow-next-btn,
.arrow-prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.arrow-next-btn:hover,
.arrow-prev-btn:hover {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}

/* Arrow positioning */
.arrow-next-btn {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.arrow-prev-btn {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}



/*sofa*/
/*sofa*/
.hover-image-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.hover-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 1230px; /* Adjust as per your design */
  height: 400px; 
}

.hover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease, opacity 0.6s ease;
}

.hover-image-wrapper:hover .hover-image {
  transform: scale(1.02); /* Very slight zoom effect */
  opacity: 0.98; /* Minimal opacity change */
}





/*lastwo-1st*/
.another-carousel-wrapper {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin-top:-870px;
}

/* Header styling */
.another-carousel-heading  {
  font-size: 1.8rem;
  margin-bottom: 30px;
  margin-right: 900px;
  margin-left: 20px;
  color: #333;
}

/* Styling for the cards inside the carousel */
.another-card {
  text-align: center;
  padding-right: 20px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.another-card:hover {
  transform: scale(1.02);
  box-shadow: none;
  
}

/* Styling for the images inside the cards */
.another-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 280px;
  display: block;
  margin: 0;
  border: 1px solid rgb(211, 208, 208);
  
}

/* Service title styling */
.another-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

/* Custom arrow styling */
.arrow-next-btn,
.arrow-prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.arrow-next-btn:hover,
.arrow-prev-btn:hover {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}

/* Arrow positioning */
.arrow-next-btn {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.arrow-prev-btn {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}





/*last and final one*/
.last-carousel-wrapper {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin-top:15px;
}

/* Header styling */
.last-carousel-heading  {
  font-size: 1.8rem;
  margin-bottom: 30px;
  margin-right: 900px;
  margin-left: 20px;
  color: #333;
}

/* Styling for the cards inside the carousel */
.last-card {
  text-align: center;
  padding-right: 20px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.last-card:hover {
  transform: scale(1.02);
  box-shadow: none;
  
}

/* Styling for the images inside the cards */
.last-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 240px;
  display: block;
  margin: 0;
 
  
}

/* Service title styling */

.last-details {
  margin-top: 10px;
}

.last-title {
  font-size: 1.0rem;
  font-weight: 500;
  margin: 15px ;
  margin-left: -15px;
  color: #333;
}

.last-rating {
  display: flex;
  
  font-size: 0.9rem;
  color: #333;
}

.star-icon {
  color: grey;
  margin-right: 5px;
  font-size: 1rem;
}

.last-price {
  font-size: 1rem;
  margin-left: -185px;
  color: #333;
  margin-top: -20px;
}


/* Custom arrow styling */
.arrow-next-btn,
.arrow-prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.arrow-next-btn:hover,
.arrow-prev-btn:hover {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}

/* Arrow positioning */
.arrow-next-btn {
  position: absolute;
  top: 35%;
  right: -20px;
  transform: translateY(-50%);
}

.arrow-prev-btn {
  position: absolute;
  top: 35%;
  left: -20px;
  transform: translateY(-50%);
}







/*most-new*/
.most-carousel-wrapper {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  margin-top:890px;
}

/* Header styling */
.most-carousel-heading  {
  font-size: 1.8rem;
  margin-bottom: 30px;
  margin-right: 900px;
  margin-left: 20px;
  color: #333;
}

/* Styling for the cards inside the carousel */
.most-card {
  text-align: center;
  padding-right: 20px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.most-card:hover {
  transform: scale(1.02);
  box-shadow: none;
  
}

/* Styling for the images inside the cards */
.most-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 240px;
  display: block;
  margin: 0;
 
  
}

/* Service title styling */

.most-details {
  margin-top: 10px;
}

.most-title {
  font-size: 1.0rem;
  font-weight: 500;
  margin: 15px ;
  margin-left: -15px;
  color: #333;
}

.most-rating {
  display: flex;
  
  font-size: 0.9rem;
  color: #333;
}

.most-star-icon {
  color: grey;
  margin-right: 5px;
  font-size: 1rem;
}

.most-price {
  font-size: 1rem;
  margin-left: -185px;
  color: #333;
  margin-top: -20px;
}


/* Custom arrow styling */
.arrow-next-btn,
.arrow-prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.arrow-next-btn:hover,
.arrow-prev-btn:hover {
  background-color:rgba(0, 0, 0, 0.5);
  color: white;
}

/* Arrow positioning */
.arrow-next-btn {
  position: absolute;
  top: 35%;
  right: -20px;
  transform: translateY(-50%);
}

.arrow-prev-btn {
  position: absolute;
  top: 35%;
  left: -20px;
  transform: translateY(-50%);
}










/*FOOTER PAGE*/
.footer {
  background-color: rgb(243, 242, 242);
  padding: 70px 30px;
  font-family: Arial,;
  color: #333;
  height: 470px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  margin-top: 25px;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: Arial,;
}

.footer-section ul {
 
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
  font-size: 14px;
  
}

.footer-section ul li a {
  text-decoration: none;
  color: #666;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #000;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #666;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #000;
}

.app-links img {
  width: 130px;
  margin: 10px 0;
  display: block;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}
.footerlogo{
  height: 41px;
  width: 150px;
  margin-top: -35px;
  margin-left: 10px;

 
}





/*log in auth*/
/* Profile Dropdown */
/* Dropdown */
.dropdown {
  position: absolute;
  top: 90px; /* Adjust based on your Navbar */
  right: 10px; /* Align with your profile icon */
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
  min-width: 120px;
  text-align: center;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.input-container {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.input-container input,
.country-code {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.proceed-btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background: #777;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.proceed-btn:hover {
  background: #afafaf;
}







.w-100{
  background-color: grey;
  border: rgb(53, 53, 53);
}
.w-100:hover {
  background: #929292;
}



.loginform{
  margin-bottom: 25px;
  
}

.loginform1{
  margin-bottom: -3px;
}

















































/*home page media qu*/
/* Mobile view styling */
/* Mobile view for very small screens (max-width: 480px) */


/*MAIN ONE*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .homepage h1 {
    font-size: 24px;
    margin-top: 10px;
  }

  .services-section {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
  }

  .services-section h2 {
    font-size: 16px;
    padding: 8px;
  }

  .services-grid {
    flex-direction: column;
  }

  .service-card {
    flex: 1 0 100%;
    padding: 10px;
  }

  .image-wrapper {
    width: 120px;
    height: 60px;
  }

  .service-description {
    font-size: 14px;
  }

  .stats-section {
    
    gap: 20px;
    margin-top: -2050px;
    flex-direction: row;
    margin-left: 100px;
    gap: 180px;
    
    
  }

  .discrip {
    font-size: 12px;
    margin-left: 0;
  }

  .image-section img {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    
  }
}





/* Tablet view (min-width: 768px and max-width: 1024px) */
@media (min-width: 767px) and (max-width: 1024px) {
  .homepage h1 {
    font-size: 28px;
    margin-top: 15px;
  }

  .services-section {
    width: 80%;
    height: auto;
    margin-top: 30px;
    padding: 12px;
  }

  .services-section h2 {
    font-size: 17px;
    padding: 9px;
  }

  .service-card {
    flex: 1 0 45%;
    padding: 8px;
  }

  .image-wrapper {
    width: 130px;
    height: 70px;
  }

  .service-description {
    font-size: 13px;
  }

  .stats-section {
    gap: 80px;
    margin-top: -1100px;
  }

  .image-section img {
    width: 80%;
    margin-left: 0;
    margin-top: -550px;
  }
}

/* Desktop view (min-width: 1025px) */
@media (min-width: 1025px) {
  .homepage h1 {
    font-size: 34px;
  }

  .services-section {
    width: 500px;
    margin-top: 40px;
    padding: 15px;
  }

  .services-section h2 {
    font-size: 18px;
  }

  .service-card {
    flex: 1 0 30%;
  }

  .image-wrapper {
    width: 140px;
    height: 75px;
  }

  .service-description {
    font-size: 12px;
  }

  .stats-section {
    margin-top: -1410px;
  }

  .image-section img {
    width: 600px;
    margin-left: 580px;
    margin-top: -620px;
  }
}











/*MAIN*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .carousel-section {
    position: relative;
    top: 550px; 
    margin-left: -1px;
  }

  .carousel-image {
    width: 100%;
    height: 170px; 
    
  }

  .custom-arrow {
    width: 45px;
    height: 45px;
    font-size: 20px;
   
  }
}
















/*MAIN*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .most-booked-section {
    position: relative;
    margin: 690px 0;
  }

  .most-booked-section p {
    font-size: 1.6rem;
    margin-right: 0;
  }

  

  .most-booked-image {
    width: 100%;
    height: 250px;  /* Adjust image size for mobile screens */
  }

  .most-booked-details h3 {
    font-size: 0.85rem;
  }

  .most-booked-details .rating,
  .most-booked-details .price {
    font-size: 0.85rem;
  }
}

/* Tablet view (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .most-booked-section {
    margin: 200px 0;
  }

  .most-booked-section p {
    font-size: 1.7rem;
  }

  .most-booked-card {
    padding: 10px;
  }

  .most-booked-image {
    height: 220px; /* Adjust height for tablet screens */
  }

  .most-booked-details h3 {
    font-size: 0.9rem;
  }

  .most-booked-details .rating,
  .most-booked-details .price {
    font-size: 0.9rem;
  }
}

/* Desktop view (min-width: 1025px) */
@media (min-width: 1025px) {
  .most-booked-section {
    margin: 370px 0;
  }

  .most-booked-section p {
    font-size: 1.8rem;
    margin-right: 900px;
  }

  .most-booked-image {
    height: 240px; /* Standard height for large screens */
  }

  .most-booked-details h3 {
    font-size: 0.9rem;
  }

  .most-booked-details .rating,
  .most-booked-details .price {
    font-size: 1rem;
  }
}











/*main*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .hover-image-wrapper {
    width: 100%;
    height: 150px;  /* Adjusted height for mobile screens */
  }

  .hover-image-wrapper:hover .hover-image {
    transform: scale(1.07); /* Slight scaling for mobile */
    opacity: 0.85;
  }
}

/* Tablet view (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .hover-image-wrapper {
    width: 90%; /* Reduced width for tablets */
    height: 300px; /* Adjust height for tablets */
  }

  .hover-image-wrapper:hover .hover-image {
    transform: scale(1.08); /* Slightly larger scaling for tablets */
    opacity: 0.9;
  }
}





/*beauty*/
/*MAIN*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .carousel-wrapper {
    margin: 790px 0;
  }

  .carousel-heading p {
  font-size: 2px;    /* Maintain font size */
  margin: 0% auto;
  
  
  }

  .beauty-card {
    padding: 8px;
  }

  .beauty-image {
    width: 100%;
    height: 250px;   /* Adjust image size for mobile screens */
  }



}





/*ac&app repair*/
/*MAIN*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .another-carousel-wrapper {
   position: relative;
    margin-top: -600px;
  }

  .another-carousel-heading p {
    font-size: 1.8rem;
    margin-right: 0;
  }

  .another-card {
    padding: 8px;
  }

  .another-image {
    width: 100%;
    height: 300px;  /* Adjust image size for mobile screens */
  }
}
@media (max-width: 767px) {
  .footer {
    background-color: rgb(243, 242, 242);
  
  
  
  height: 990px;
  width: 330px;
    margin-top: 10px;
  }} 




  /*last*/
/*MAIN*/
/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .last-carousel-wrapper {
   position: relative;
    margin-top: 400px;
  }

  .last-carousel-heading p {
    font-size: 1.8rem;
    margin-right: 0;
  }

  .last-card {
    padding: 8px;
  }

  .last-image {
    width: 100%;
    height: 300px;  /* Adjust image size for mobile screens */
  }
}




@media (max-width: 767px) {
  .footer {
    background-color: rgb(243, 242, 242);
  
  
  
  height: 1000px;
  width: 460px;
    margin-top: 100px;
  }}


















/*🔥home page 1sec-MAIN*/
/* Mobile view*/
@media (max-width: 480px) {
  .homepage h1 {
    font-size: 20px; /* Smaller font size */
    margin-top: 10px;
  }

  .services-section {
    
    height: 450px;
    margin-top: 30px;
    padding: 8px;
  }

  .services-section h2 {
    font-size: 14px; /* Smaller font size */
    padding: 10px;


    
  }

  /* Adjust the grid layout for 2 rows and 3 columns */
  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px;
    /* Spacing between items */
  }

  .service-row {
    display: grid; /* Switch to grid layout */
    grid-template-columns: 1fr; /* Single column */
    margin-bottom: 0;
  }
  
  .service-card {
    justify-content: center;
    margin-top: 5px;
    flex: none; /* Avoid flex issues in grid */
  }

/* Adjust image wrapper to fit better in grid layout */
.image-wrapper {
  width: 100px;
  height: 55px;
}

/* Adjust font size of service description */
.service-description {
  font-size: 14px; /* Adjusted font size for readability */
}
  .stats-section {
    flex-direction: row;
    gap: 120px;
    margin-top: -2000px;
    margin-left: 65px;
    

  }

  .discrip {
    font-size: 15px;
    
  }

  .image-section img {
    width: 300px;
    margin-left: 0;
    margin-top: 0;
  }
}


/*2nd-sec Mobile view for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .carousel-section {
    top: 480px; 
    margin-bottom: -200px;
  }

  .carousel-image {
    width: 100%;
    height: 180px; /* Reduced height for smaller screens */
  }

  .custom-arrow {
    width: 40px;
    height: 40px;
    font-size: 18px;
     
  }
}

/* 3rd-sec Mobile view for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .most-booked {
    margin: 750px 0;
    width: 320px;
    
  }

  .most-booked p {
    font-size: 1.6rem;
    margin-right: 0; /* Adjust margin for small screens */
  }

  .most-booked-card {
    padding: 5px;
  }

  .most-booked-image {
    height: 300px;
     /* Adjust image size for small screens */
  }

  .most-booked-details h3 {
    font-size: 1.2rem;
  }

  .most-booked-details .rating,
  .most-booked-details .price {
    font-size: 1.1rem;
    margin-top: 2px;
  }
}



/* 4rd-sec Mobile view for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .carousel-wrapper{
    margin: 970px 0;
    width: 100%;
    width: 300px;
    margin-left: 30px;
    
  }

  .carousel-heading p {
    font-size: 1.6rem;
    margin-right: 0; /* Adjust margin for small screens */
  }

  .beauty-card  {
    padding: 5px;
  }

  .beauty-image {
    height: 300px;
  
    
     /* Adjust image size for small screens */
  }

}



/*sofa Mobile view (max-width: 767px) */
@media (max-width: 767px) {
  .hover-image-wrapper {
    width: 122%;
    height: 112px;
    margin-bottom: -200px;
    margin-left: -30px;
  }

  .hover-image-wrapper:hover .hover-image {
    transform: scale(1.07); /* Slight scaling for mobile */
    opacity: 0.85;
  }
}




/* another rd-sec Mobile view for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .another-carousel-wrapper{
    margin: -750px 0;
    width: 100%;
    width: 300px;
    margin-left: 30px;
    
  }

  .another-carousel-heading p {
    font-size: 1.6rem;
    margin-right: 0; /* Adjust margin for small screens */
  }

  .another-card  {
    padding: 5px;
  }

  .another-image {
    height: 300px;
  
    
     /* Adjust image size for small screens */
  }

}





/* last sec Mobile view for very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .last-carousel-wrapper {
    margin: 750px 0;
    width: 300px;
    margin-left: 30px;
    
  }

  .last-carousel-heading p {
    font-size: 1.6rem;
    margin-right: 0; /* Adjust margin for small screens */
  }

  .last-card {
    padding: 5px;
  }

  .last-image {
    height: 300px;
     /* Adjust image size for small screens */
  }

  .last-details h3 {
    font-size: 1.2rem;
  }

  .last-details .last-rating,
  .last-details .last-price {
    font-size: 1.1rem;
    margin-top: 1px;
    
  }

  .last-details .last-rating{
    margin-left:160px ;
  }
.last-details .last-price{
  margin-left: -20px;
}

}



@media (max-width: 480px) {
  .footer {
    background-color: rgb(243, 242, 242);
  height: 1000px;
  width: 355px;
    margin-top: -750px;
  }}





  /* new change */
  .status-badge {
    padding: 3px 6px;
    border-radius: 12px;
    font-size: 10.5px;
    font-weight: bold;
    color: white;
    background-color: gray;
    position: relative; /* Allows using `top` to adjust position */
    top: -10px; /* Moves the badge 5px upward */
    display: inline-block; /* Ensures the badge behaves as a block element */
  }
  
  .status-badge.available {
    background-color: rgb(96, 95, 95);
    
  }
  
  .status-badge.out-of-stock {
    background-color: rgb(190, 190, 190);
  }
  /* Add this to your CSS file or style section */





  /* 🔥Nav bar  */
/* Hide the center section and other elements on mobile (up to 480px) */
@media (max-width: 480px) {
  .mx-auto { /* This targets the center section (search and location) */
    display: none !important;
  }

  .ms-5 { /* This hides the "Native" text next to the logo */
    display: none !important;
  }
}

/* Ensure the logo and icons are visible on mobile (up to 480px) */
@media (max-width: 480px) {
  .navbar-brand {
    flex: 1; /* Allow the logo to take up available space */
  }

  .ms-auto { /* This ensures the icons (clipboard, cart, profile) are visible */
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between icons */
    flex-direction: row; /* Ensure icons are displayed horizontally */
  }

  /* Ensure the icons are aligned properly */
  .ms-auto .nav-link {
    padding: 0; /* Remove default padding for better alignment */
  }
}




/* 🔥 inside salon page */

/* 🔥 Mobile (480px and below) */
@media screen and (max-width: 480px) {
  /* 🔹 Adjust Header */
  .salon-header-updated {
    flex-direction: row;
    text-align: center;
  }

  .salon-header-updated h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  /* 🔹 Services Section */
  .services-grid-updated {
    grid-template-columns: repeat(3, 1fr); /* Single column layout */
    gap: 15px;
    height: 500px;
  }

  .service-item-updated img {
    max-width: 150px;
    height: auto;
  }

  /* 🔹 Banner Section */
  .banner-section-updated {
    
    align-items: center;
   
  }

  .banner-image-updated {
    width: 100%;
    max-width: 30px;
    height: auto;
  }

  /* 🔹 Package Section */
  .package-card {
    width: 74%;
    padding: 15px;
    text-align: center; 
    margin-top: -60px;
    margin-left: -390px;
  }

  .quantity-control {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  /* 🔹 Cart Section */
  .cart-full-section {
    padding: 15px;
    width: 100%;
    margin-left: -870px;
    margin-top: 430px;
    
  }

  .cart-empty-section{
    margin-top: 500px;
    margin-left: -870px;
    width: 100%;
  }
  .offer-section{
      margin-left: -870px;
    width: 100%;
  }


  .view-cart-button {
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }

  /* 🔹 UC Promise Section */


  /* Media query for mobile view (up to 480px) */
@media (max-width: 480px) {
  .promise-section {
    padding: 5px; 
    
   
  }

  .promise-title {
    font-size: 20px; /* Reduce font size for the title */
    margin-bottom: 10px; /* Reduce margin for the title */
  }

  .promise-list li {
    font-size: 16px; /* Reduce font size for list items */
    margin-bottom: 10px; /* Reduce margin between list items */
    flex-direction: column; /* Stack icon and text vertically */
    gap: 5px; /* Reduce gap between icon and text */
  }

  .quality-assured-icon {
    width: 50px; /* Reduce size of the quality assured icon */
     /* Reduce margin for the icon */
  }
}
}
